# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
*.iml
dist/
build/
node_modules/
*.zip
temp-zip/
.vscode
*.log
Thumbs.db
thumbs.db
*.bak
*.tmp.txt
package-lock.json
source/lib/game-code.js
source/res/manifest/list_info_sd.json
source/res/manifest/list_base_desktop.json
source/res/manifest/list_base_hd.json
source/res/manifest/list_base_ld.json
source/res/manifest/list_base_postload_desktop.json
source/res/manifest/list_base_postload_hd.json
source/res/manifest/list_base_postload_ld.json
source/res/manifest/list_base_postload_sd.json
source/res/manifest/list_base_sd.json
source/res/manifest/list_free_desktop.json
source/res/manifest/list_free_hd.json
source/res/manifest/list_free_ld.json
source/res/manifest/list_free_sd.json
source/res/manifest/list_info_desktop.json
source/res/manifest/list_info_hd.json
source/res/manifest/list_info_ld.json
source/res/manifest/list_bonus_desktop.json
source/res/manifest/list_bonus_hd.json
source/res/manifest/list_bonus_ld.json
source/res/manifest/list_bonus_sd.json
source/res/manifest/list_base_mobile.json